[submodule "external/CommonLibSSE"]
	path = external/CommonLibSSE
	url = https://github.com/powerof3/CommonLibSSE.git
[submodule "external/CommonLibAE"]
	path = external/CommonLibAE
	url = https://github.com/powerof3/CommonLibSSE.git
[submodule "external/CommonLibVR"]
	path = external/CommonLibVR
	url = https://github.com/alandtse/CommonLibVR.git
[submodule "external/CommonLibF4"]
	path = external/CommonLibF4
	url = https://github.com/Ryan-rsm-McKenzie/CommonLibF4.git
